RewriteEngine on
RewriteBase /
RewriteRule ^help/forgot$ help/forgot.php
RewriteRule ^quiz/result$ quiz/result.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^quiz/d/(.*)$ quiz/d/?q=$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^quiz/(.*)$ quiz/quiz.php?q=$1
